{% include 'header.html' %}

 
 {% block container %}
    
 {% endblock container %}

 {% block contact %}
    
 {% endblock contact %}

 {% block adpanel %}
    
 {% endblock adpanel %}
 
 {% block blog %}
    
 {% endblock blog %}
 
 {% block resource %}
    
 {% endblock resource %}

 
 {% block webdev %}
    
 {% endblock webdev %}

 {% block nletter %}
    
 {% endblock nletter %}
 
 {% block getteam %}
    
 {% endblock getteam %}

 {% block software %}
    
{% endblock software %}

{% block mobileapp %}
    
{% endblock mobileapp %}

{% block dmarketing %}
    
{% endblock dmarketing %}
    
{% block course %}
    
{% endblock course %}  

 
    
    

{% include 'footer.html' %}