{% extends 'base.html' %}
{% load static %}

{% block resource %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=1.0.1" />
  

  <header class="hero-banner">
    <h1>Explore Our Resources</h1>
    <p>Get tools, guides, and templates to boost your journey.</p>
    <input type="text" id="searchInput" placeholder="Search resources..." />
  </header>

  <section class="resources" id="resourceList">
    {% for resource in resources %}
    <div class="resource-card">
      {% if resource.image %}
      <img src="{{ resource.image.url }}" alt="{{ resource.title }}" />
      {% endif %}
      <h3>{{ resource.title }}</h3>
      <p>{{ resource.description}}</p>
      <a href="{{ resource.file.url }}" class="btn-download" download>Download</a>
    </div>

    {% endfor %}
  </section>

  <script src="{% static 'js/resources.js' %}"></script>
{% endblock %}
